header{
    background: #7CEA9C;
}
footer{
    text-align: center;
    background: #000000 ;
    padding: 13px;
}
.imagemfooter{
    width: 7%;
    padding: 20px;
}
.copy{
    color: aliceblue;
    font-size: 12px;
    font-weight: bold;
    padding: 20px;
}